<div>
  <ul class="product-tabs">
    <li ng-class="{ active:panelCtrl.isSelected(1) }" ng-click="panelCtrl.selectTab(1)">Description</li>
    <li ng-class="{ active:panelCtrl.isSelected(2) }" ng-click="panelCtrl.selectTab(2)">Reviews</li>
  </ul>
  <div class="panel" ng-show="panelCtrl.isSelected(1)">
    <h4>Description</h4>
    <p>{{item.description}}</p>
  </div>
  <div class="panel" ng-show="panelCtrl.isSelected(2)">
    <h4>Reviews</h4>
    <blockquote ng-repeat="review in item.reviews">
      <b>Stars: {{review.stars}}</b>
      {{review.text}}
      <cite>by: {{review.author}}</cite>
    </blockquote>
    <product-form items="items" marks="marks"></product-form>
  </div>
</div>