<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(item)" novalidate>
  <blockquote>
    <b>Stars: {{reviewCtrl.review.stars}}</b>
    {{reviewCtrl.review.text}}
    <cite>by: {{reviewCtrl.review.author}}</cite>
  </blockquote>
  <div>
    <select ng-model="reviewCtrl.review.stars" required>
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select>
  </div>
  <div>
    <textarea placeholder="your review here" ng-model="reviewCtrl.review.text" required></textarea>
  </div>
  <div>
    <label for="reviewAuthor">by:</label>
    <input id="reviewAuthor" type="email" placeholder="your email here" ng-model="reviewCtrl.review.author" required />
  </div>
  <input type="submit" value="Submit" />
</form>