<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="listApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="listApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="listApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="listApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peter Krevenets | Coder & Designer</title>
    <!-- vendor libraries -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">-->
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
    <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
    <!-- my libraries -->
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <main-header ng-controller="NavController as navCtrl"></main-header>
    <div id="wrapper">
      <section ng-controller="ListController as listCtrl">
        <ul id="gallery">
          <li ng-repeat="item in listCtrl.listItems | limitTo:10 | orderBy:'-price'" ng-hide="item.soldOut">
            <a ng-href="{{item.url}}">
              <img ng-src="{{item.url}}" alt="">
              <p>{{item.author}}</p>
            </a>
            <p>Price: {{item.price | currency}}</p>
            <button ng-show="item.canPurchase">Add to Cart</button>
            <div ng-controller="PanelController as panelCtrl">
              <ul class="product-tabs">
                <li ng-class="{ active:panelCtrl.isSelected(1) }" ng-click="panelCtrl.selectTab(1)">Description</li>
                <li ng-class="{ active:panelCtrl.isSelected(2) }" ng-click="panelCtrl.selectTab(2)">Reviews</li>
              </ul>
              <div>
                <div class="panel" ng-show="panelCtrl.isSelected(1)">
                  <h4>Description</h4>
                  <p>{{item.description}}</p>
                </div>
                <div class="panel" ng-show="panelCtrl.isSelected(2)">
                  <h4>Reviews</h4>
                  <blockquote ng-repeat="review in item.reviews">
                    <b>Stars: {{review.stars}}</b>
                    {{review.text}}
                    <cite>by: {{review.author}}</cite>
                  </blockquote>
                  <product-form></product-form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <footer>
        <a href="http://twitter.com/peter_krevenets"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/peter.krevenets"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2015 Peter Krevenets.</p>
      </footer>
    </div>

    <!--<div ng-show="false">-->
      <!--<ul class="menu">-->
        <!--<li><a href="#/view1">view1</a></li>-->
        <!--<li><a href="#/view2">view2</a></li>-->
      <!--</ul>-->
      <!--<form ng-init="saving = false">-->
        <!--<input type="text" ng-disabled="saving" autofocus>-->
        <!--<input type="checkbox" ng-model="saving">-->
        <!--<input type="text" ng-model="number">-->
        <!--<span>-->
          <!--<ng-pluralize count="number" offset="1" when="{ 0: 'no items available', 1: '{{number}} item available', one: '{{number}} and {{number}} items available', other: '{{number}} items available'}"></ng-pluralize>-->
        <!--</span>-->
      <!--</form>-->
      <!--&lt;!&ndash;[if lt IE 7]>-->
          <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
      <!--<![endif]&ndash;&gt;-->
      <!--<div ng-view></div>-->
      <!--<div>Angular seed app: v<span app-version></span></div>-->
    <!--</div>-->

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
