<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="listApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="listApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="listApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="listApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peter Krevenets | Lister</title>
    <!-- vendor libraries -->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- my libraries -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body ng-controller="ListController as listCtrl">
    <main-header></main-header>
    <div id="wrapper">
      <section>
        <ul>
          <li>
            <a href="img/numbers-01.jpg">
              <img src="img/numbers-01.jpg" alt="">
              <p>Provided by: &copy; Tom Sawyer, 1889.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-02.jpg">
              <img src="img/numbers-02.jpg" alt="">
              <p>Provided by: &copy; Jimi Hendrix, 1969.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-06.jpg">
              <img src="img/numbers-06.jpg" alt="">
              <p>Provided by: &copy; Freddy Mercury, 1989.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-09.jpg">
              <img src="img/numbers-09.jpg" alt="">
              <p>Provided by: &copy; Kurt Cobain, 1991.</p>
            </a>
          </li>
          <li>
            <a href="img/numbers-12.jpg">
              <img src="img/numbers-12.jpg" alt="">
              <p>Provided by: &copy; Jim Morrison, 1970.</p>
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <a href="http://twitter.com/peter_krevenets"><img src="img/twitter-wrap.png" alt="Twitter Logo"></a>
        <a href="http://facebook.com/peter.krevenets"><img src="img/facebook-wrap.png" alt="Facebook Logo"></a>
        <p>&copy; 2015 Peter Krevenets.</p>
      </footer>
    </div>

    <!--<div ng-show="false">-->
      <!--<ul class="menu">-->
        <!--<li><a href="#/view1">view1</a></li>-->
        <!--<li><a href="#/view2">view2</a></li>-->
      <!--</ul>-->
      <!--<form ng-init="saving = false">-->
        <!--<input type="text" ng-disabled="saving" autofocus>-->
        <!--<input type="checkbox" ng-model="saving">-->
        <!--<input type="text" ng-model="number">-->
        <!--<span>-->
          <!--<ng-pluralize count="number" offset="1" when="{ 0: 'no items available', 1: '{{number}} item available', one: '{{number}} and {{number}} items available', other: '{{number}} items available'}"></ng-pluralize>-->
        <!--</span>-->
      <!--</form>-->
      <!--&lt;!&ndash;[if lt IE 7]>-->
          <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
      <!--<![endif]&ndash;&gt;-->
      <!--<div ng-view></div>-->
      <!--<div>Angular seed app: v<span app-version></span></div>-->
    <!--</div>-->

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
